body {
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 10px;
}

#cedit {
    display: block;
    width: 70%;
}

#tools {
    display: block;
    float: right;
    width: 28%;
    position: relative;
}