{% extends "mtcompono/base.html" %}
{% load i18n %}
{% load mtcomponomedia %}



{% block extrahead %}
  <link rel="stylesheet" href="{% mtcompono_media_url %}/css/xmlcolors.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#edit">Content</a></li>
    <li><a href="#template">Templates</a></li>
  </ul>
  
  <form id="fedit" action="{% url edit_type name=name,path=path %}" method="post" accept-charset="utf-8">
    {{ f.name }}
    <section id="edit">
      
        <aside id="tools">
          <h2>FieldsTypes:</h2>
          <ul id="fieldsTypes"></ul>
        </aside>
      
        <div id="cedit">
            {% csrf_token %}
            {% if f.errors %}
                <p class="error">{{ f.errors }}</p>
            {% endif %}
            {{ f.page_id }}
              <h2>Edit page</h2>
              <p><label for="id_title"> {{ f.title.label }}</label>{{ f.title }}</p>
              <label for="id_body">{{ f.body.label }}</label><br>
              {{ f.body }}

            <fieldset id="custom_fields" class="">
              <legend>Custom fields</legend>
              
              {% if f.extra_fields %}
              
              {% for custom, lcustom in f.extra_properties %}
                  <p class="custom">{{ lcustom }} {{ custom }} <a class="delete" href="#">delete</a></p>
              {% endfor %}
                
              {% endif %}
              
            </fieldset>
            <p><input class="submit" type="submit" value="Save"></p>
        </div>
    </section>

    <section id="template">
      <h2>Edit the template</h2>
      {{ f.templates }}
       <p><input class="submit" type="submit" value="Save"></p>
    </section>
  </form>
  
</div>
{% endblock %}

{% block extrascripts %}
  <script>
    var MTCOMPONO_MEDIA_URL = "{% mtcompono_media_url %}";
  </script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/goldorak.page.js"></script>
	
	{{ f.media }}
	<script>
	  
	  $(function() {
	      
	      new $.goldorak.createPage();
	      
	      
	      
    	  $("input:submit").button();
    	});
	</script>
	
{% endblock %}