{% extends "mtcompono/base.html" %}
{% load i18n %}
{% load mtcomponomedia %}



{% block extrahead %}
  <link rel="stylesheet" href="{% mtcompono_media_url %}/css/xmlcolors.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{% mtcompono_media_url %}/css/ui.multiselect.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
<h1>{% trans "Éditer un type de contenu" %}</h1>
<div id="tabs">
  <ul>
    <li><a href="#settings">{% trans "Paramètres" %}</a></li>
    <li><a href="#defineProperties">{% trans "Définir les propriétés" %}</a></li>
    <li><a href="#template">{% trans "Rendu" %}</a></li>
  </ul>
  
  <form id="fedit" action="{% url edit_type doc.getid %}" method="post">
    {% csrf_token %}
    <section id="settings">
      
        <h2>{% trans "Éditer les paramètres du type" %}</h2>
         <p><label for="name">{% trans "Nom du type :" %} </label><input type="text" name="name" id="name" value=""></p>
         <p><label for="editors">{% trans "Associer des groupes d'éditeurs à cette page :" %}</label><br><select id="editors" name="editors" size="5" multiple="multiple" class="multiselect">
         {% for e in editors %}
            <option name="{{ e.name }}"{% ifequal e.name "administrateurs" %} selected="selected"{% endifequal%}>{{ e.name }}</option>
         {% endfor %}
        </select></p>
      
        <p><input class="submit" type="submit" value="{% trans "Enregistrer" %}"></p>
    </section>
    
    <section id="defineProperties">
        <aside id="tools">
          <h2>{% trans "Types de propriétés :" %}</h2>
          <ul id="fieldsTypes"></ul>
        </aside>
         
         <div id="cedit">
             <h2>{% trans "Définir les propriétés" %}</h2>
             <div id="properties"></div>
        </div>
        <p><input class="submit" type="submit" value="{% trans "Enregistrer" %}"></p>
    </section>

    <section id="template">
      <h2>{% trans "Éditer les modèles HTML" %}</h2>
      
      <select id="templates" name="templates">
          <option value="-">{% trans "Choisir un modèle à éditer" %}</option>
          <option value="show" selected="selected">{% trans "Contenu (show)" %}</option>
          <option value="list">{% trans "Liste (list)" %}</option>
      </select>
      
      <textarea name="tpl" id="tpl"></textarea>
      <input type="hidden" name="tpl_show" id="tpl_show" value="">
      <input type="hidden" name="tpl_list" id="tpl_list" value="">
      
      <p><input class="submit" type="submit" value="{% trans "Enregistrer" %}"><input class="submit" type="submit" value="{% trans "Réinitialiser le modèle en cours" %}" id="bempty"></p>
    </section>
  </form>
  
</div>
{% endblock %}

{% block extrascripts %}
  <script>
    var MTCOMPONO_MEDIA_URL = "{% mtcompono_media_url %}";
  </script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/codemirror/codemirror.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/plugins/localisation/jquery.localisation-min.js"></script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/ui.multiselect.js"></script>

    <script type="text/javascript" src="{% mtcompono_media_url %}/js/compono.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/compono.type.js"></script>
	
	
	<script>
	  
	  $(function() {
	      new $.compono.createType({
	          path: "{% mtcompono_media_url %}/js/",
	          media_path: "{% mtcompono_media_url %}",
	          properties: ["text", "textarea", "datetime"],
	          doc: JSON.parse('{{ doc|safe|escapejs }}')
	      });
	      
	      /*$.localise('ui-multiselect', {
	          path:   '{% mtcompono_media_url %}/js/locale/'
	      });*/
		  $(".multiselect").multiselect();
    	});
	</script>
	
{% endblock %}