{% extends "compono/base.html" %}


{% block content %}
<aside id="tools">
  <h2>FieldsTypes:</h2>
  <ul id="fieldsTypes"></ul>
  
</aside>
<section id="edit">
  <form action=".?edit=1" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ f.page_id }}
    <fieldset id="main" class="">
      <legend>Main</legend>
      <p><label for="id_title">Title: {{ f.title }}</label> {{ f.title }}</p>
      <label for="id_abstract">Description</label><br>
      {{ f.description }}
    </fieldset>

    <p><input type="submit" value="Continue &rarr;"></p>
  </form>
</section>

{% endblock %}