{% extends "compono/base.html" %}
{% load componomedia %}

{% block content %}
<aside id="tools">
  <h2>FieldsTypes:</h2>
  <ul id="fieldsTypes"></ul>
  
</aside>
<section id="edit">
  <form action=".?edit=1" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ f.page_id }}
    <fieldset id="main" class="">
      <legend>Main</legend>
      <p><label for="id_title">Title: {{ f.title }}</label> {{ f.title }}</p>
      <label for="id_abstract">Description</label><br>
      {{ f.description }}
    </fieldset>

    <fieldset id="custom_fields" class="">
      <legend>Custom fields</legend>
      
      
    </fieldset>
    <p><input type="submit" value="Continue &rarr;"></p>
  </form>
</section>

{% endblock %}

{% block extrascripts %}
  <script>
    var COMPONO_MEDIA_URL = "{% compono_media_url %}";
  </script>
  
	<script type="text/javascript" src="{% compono_media_url %}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{% compono_media_url %}/js/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="{% compono_media_url %}/js/goldorak.page.js"></script>
	
	<script>
	  new $.goldorak.createPage();
	</script>
	
{% endblock %}