{% extends "mtcompono/base.html" %}
{% load i18n %}
{% load mtcomponomedia %}

{% block content %}

  <h1>{% trans "Créer un nouveau contenu ou un contexte à cette url" %}</h1>
	<section id="create">
	  
	  {% if f.errors %}
	   {{ f.errors }}
	  {% endif %}
		
		<form method="post" action="{{ path }}">
		   {% csrf_token %}
            {{ f.path }}
			 <h2>{% trans "Nouveau contenu ou contexte" %}</h2>
			 {{ f.page_type }}

			<input type="submit" name="bsubmit" value="{% trans "Continuer" %}">
		</form>
	</section>
{% endblock %}

