{% extends "mtcompono/base.html" %}
{% load i18n %}
{% load mtcomponomedia %}

{% block content %}

  <h1>Create a new context or new page</h1>
	<section id="create">
	  
	  {% if f.errors %}
	   {{ f.errors }}
	  {% endif %}
		
		<form method="post" action="{{ f.path }}">
		  {% csrf_token %}
            {{ f.path }}
			<fieldset>
			  <legend>New page type/context</legen>
			  <p>You can now choose to create a new content or a context</p>
			  <ul>
			    <li>{{ f.page_type }}</li>
			  </ul>
			</fieldset>
			<input type="submit" name="bsubmit" value="Continue">
		</form>
	</section>
{% endblock %}

