{% extends "mtcompono/base.html" %}
{% load i18n %}
{% load mtcomponomedia %}



{% block extrahead %}
  <link rel="stylesheet" href="{% mtcompono_media_url %}/css/xmlcolors.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{% mtcompono_media_url %}/css/ui.multiselect.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
<h1>{% trans "Éditer un contenu" %}</h1>
{% if f.errors %}
    <div class="errors">
        {{ f.errors }}
    </div>
{% endif %}
<div id="tabs">
    <ul>
        <li><a href="#contrny">{% trans "Contenu" %}</a></li>
    </ul>

    <form action="{{ path }}" method="post" id="fedit">
        {% csrf_token %}
        <section id="content" class=".ui-widget .ui-widget-conten">
        <h2>{% trans "Éditer le conteu" %}</h2>
        
        <ul>
            {{ f.as_ul }}
        </ul>

        <p><input type="submit" value="{% trans "Continuer &rarr;" %}"></p>
        </section>
        
    </form>

{% endblock %}

{% block extrascripts %}
  <script>
    var MTCOMPONO_MEDIA_URL = "{% mtcompono_media_url %}";
  </script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/codemirror/codemirror.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="{% mtcompono_media_url %}/js/plugins/localisation/jquery.localisation-min.js"></script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="{% mtcompono_media_url %}/js/ui.multiselect.js"></script>

    <script type="text/javascript" src="{% mtcompono_media_url %}/js/compono.js"></script>

	
	<script>
	  
	  $(function() {	      
	      /*$.localise('ui-multiselect', {
	          path:   '{% mtcompono_media_url %}/js/locale/'
	      });*/
		  $(".multiselect").multiselect();
		  $("#tabs").tabs();
		  $("input:submit").button();
		  $.compono.editor(".txt")
		 
		  $(".date", inp).datepicker();
    	});
	</script>
	
{% endblock %}