body {
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 10px;
}

#cedit, #editContext {
    display: block;
    width: 70%;
}

#tools {
    display: block;
    float: right;
    width: 28%;
    position: relative;
}

.CodeMirror-wrapping {
    border: 1px solid #999;
     height: 450px;
}

.hidden {
    display: none;
}

/* multiselect styles */
.multiselect {
	width: 460px;
	height: 200px;
}

#settings ul, 
#content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content form label {
    display: block;
    float: left;
    margin: 0.3em;
    width: 10em;
    font-weight: bold;
}